<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title><%= title %></title>

    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <h1 class="txt_say"><%= text %></h1>
    <p class="lnk_back"><a href="/">Create a new one.</a></p>
    <script src="../javascripts/mespeak.full.js"></script>
    <script src="../javascripts/controller.js"></script>
    <script>
        initMeSpeak();
        sayThing("<%= text %>", "<%= voice %>", "<%= variant %>", <%= pitch %>, <%= speed %>, <%= amplitude %>, <%= wordgap %>);
    </script>
  </body>
</html>
